.burger {
    position: fixed;
    top: 50px;
    right: 150px;
    /* background-color: gray; */
    width: 60px;
    height: 45px;
    transition: .2s;
}

.burger.active {
    transform: rotate(-90deg);
}

.burger span {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: black;
    left: 0;
    transition: top .2s .2s, bottom .2s .2s, opacity .2s .2s, transform .2s .4s;

}

.burger span:nth-child(1) {
    top: 0
}

.burger.active span:nth-child(1) {
    top: calc(50% - 5px);
    transform: rotate(45deg);
}

.burger span:nth-child(2) {
    top: calc(50% - 5px);
}

.burger.active span:nth-child(2) {
    opacity: 0;
}

.burger span:nth-child(3) {
    bottom: 0;
}

.burger.active span:nth-child(3) {
    bottom: calc(50% - 5px);
    transform: rotate(-45deg);
}

.burger2 {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 60px;
    height: 45px;
    transition: .2s .2s;
}

.burger2 span {
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: black;
    left: 0;
    transition: .2s transform, .2s .4s top, .2s .4s opacity;

}

.burger2 span:nth-child(1) {
    top: 0;
}

.burger2 span:nth-child(2) {
    top: calc(50% - 5px);
}

.burger2 span:nth-child(3) {
    top: calc(100% - 10px);
}

.burger2.active {
    transform: rotate(-90deg);
    transition: .2s;
}

.burger2.active span {
    top: calc(50% - 5px);
    transition: .2s .2s top, .2s .2s opacity, .2s .4s transform;
}

.burger2.active span:nth-child(1) {
    transform: rotate(45deg);
}

.burger2.active span:nth-child(2) {
    opacity: 0;
}

.burger2.active span:nth-child(3) {
    transform: rotate(-45deg);

}
