body {
    background-color: black;
}

.siteName {
    color: white;
    text-align: center;
    margin-bottom: 0;
}

.siteNameSmall {
    color: #ce050f;
    text-align: center;
    margin-top: 0;

}


#tabText {
    color: white;
}


.tabs .tab a,
.tabs .tab a:hover,
.tabs .tab a.active {
    color: white;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
    background-color: transparent;
}

.tabs .indicator {
    background-color: #ce050f;
    height: 0.3em;
}

.tabs {
    background-color: transparent;
    border-bottom: solid #ce050f;
}
